.flex{
    display: inline-flex;
    flex-direction: row;
   
   
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    text-align: center;
    font-family: arial;
    margin: 16px;
    margin: 15px 30px 0 40px;
}

.card img{
    display: block;
    height: calc(80vh / 1.9);

}
  
.price {
  color: grey;
  font-size: 15px;
  flex-basis: 33%;
}
  
.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}
  
.card button:hover {
    opacity: 0.7;
}
 